web-parent/cxf-web/src/main/resources/supplier.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.moon.org/ws/supplier"
	targetNamespace="http://www.moon.org/ws/supplier">
	<wsdl:types>
		<xs:schema targetNamespace="http://www.moon.org/ws/supplier" elementFormDefault="qualified" version="1.0">
			<xs:element name="saveOrUpdate" type="tns:saveOrUpdate"/>
			<xs:element name="saveOrUpdateResponse" type="tns:saveOrUpdateResponse"/>
			<xs:complexType name="saveOrUpdateResponse">
				<xs:sequence/>
			</xs:complexType>
			<xs:complexType name="saveOrUpdate">
				<xs:sequence>
					<xs:element name="suppliers" type="tns:supplier" maxOccurs="unbounded" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="supplier">
				<xs:sequence>
					<xs:element name="supplierCode" type="xs:string" minOccurs="0"/>
					<xs:element name="supplierName" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="saveOrUpdate">
		<wsdl:part name="parameters" element="tns:saveOrUpdate"/>
	</wsdl:message>
	<wsdl:message name="saveOrUpdateResponse">
		<wsdl:part name="parameters" element="tns:saveOrUpdateResponse"/>
	</wsdl:message>
	<wsdl:portType name="SupplierService">
		<wsdl:operation name="saveOrUpdate">
			<wsdl:input name="saveOrUpdate" message="tns:saveOrUpdate" />
			<wsdl:output name="saveOrUpdateResponse" message="tns:saveOrUpdateResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SupplierServiceSoapBinding" type="tns:SupplierService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="saveOrUpdate">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="saveOrUpdate">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="saveOrUpdateResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SupplierService">
		<wsdl:port name="SupplierServicePort" binding="tns:SupplierServiceSoapBinding">
			<soap:address location="REPLACE_WEB_SERVICE_PATH" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
